body {
  margin: 0;
  font-family: 'Segoe UI', Helvetica, Arial;
  overflow-y: hidden;
}

::-webkit-scrollbar-thumb{
  background-color:purple !important;
  width:10px;
}
::-webkit-scrollbar-track{
  background-color:#117050;
}
